body {
  font-family: Arial;
  margin: 0;
  background: @main-bg_img repeat;
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: @dark-grey;
  }

  &:hover::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: @grey;
  }
}

#todoBox {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  #todoList {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    .items-placeholder {
      user-select: none;
      width: 310px;
      position: absolute;
      text-align: center;
      font-size: 30px;
      color: @dark-grey;
      margin-top: 60px;
    }

    .todoItem {
      margin-top: 15px;
      position: relative;
      width: 200px;
      height: auto;
      float: left;
      background-color: @yellow;
      .box-shadow();
      font-size: 14px;
      font-weight: 500;
      transition: 1s background-color;

      pre {
        padding: 7px 15px 5px 5px;
        width: 92%;
        line-height: 1em;
        word-wrap: break-word;
        white-space: pre-wrap;
        font-size: 14px;
        font-family: @font-dekko;
      }
      .delete-icon {
        cursor: pointer;
        top: 4px;
        position: absolute;
        right: 4px;
      }
      .update-icon {
        cursor: pointer;
        top: 4px;
        position: absolute;
        right: 19px;
      }
      &.in-updating {
        background-color: @blue;
      }
    }
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    #todoForm {
      .box-shadow();
      position: relative;
      display: flex;
      flex-direction: column;
      width: 78%;
      margin-bottom: 50px;
      textarea {
        background: @textarea-bg_img repeat;
        border: none;
        resize: none;
        height: 250px;
        line-height: 23px;
        font-size: .8em;
        font-family: @font-dekko;
        margin: 10px 0 10px 0;
        padding-left: 10px;
        &:focus {
          outline: none;
        }
      }
      .add-button {
        .mixin-buttons(@green);
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 100px;
        &::before { content: 'Add'; }
      }

      .update-button {
        font: 13.3333px Arial;
        position: absolute;
        bottom: 20px;
        right: 10px;
        width: 100px;
        line-height: 35px;
        text-align: center;
        vertical-align: middle;
        .mixin-buttons(@blue);
      }

      .cancel-button {
        font: 13.3333px Arial;
        position: absolute;
        bottom: 20px;
        width: 100px;
        line-height: 35px;
        vertical-align: middle;
        .mixin-buttons(@red);
        right: 120px;
      }
    }
  }
}
